.qodo
.venv
venv
env
.re_venv
.re_env
.re_env/*
.re_env/**
.re_env/**/*
re_venv
re_env
re_env/*
re_env/**
re_env/**/*
re_
.wsl_venv
.wsl_venv
.wsl_venv
.wsl_venv/*
.wsl_venv/**
.env
.idea
*/__pycache__/*.pyc
__pycache__/
grpcs/*/*.csv
*/*.dat
grpcs/*/*.dat
model/*.csv
model/*.pkl
data/dataset.pkl
data/model.csv

/data/*
/data/**/*

.qodo
