.qodo
.venv
venv
env
.re_venv
.re_env
.re_env/*
.re_env/**
.re_env/**/*
re_venv
re_env
re_env/*
re_env/**
re_env/**/*
re_
.env
.idea
*/__pycache__/*.pyc
__pycache__/
grpcs/*/*.csv
*/*.dat
grpcs/*/*.dat
/grpcs/services/data_en/data_en/interactions.csv
/grpcs/services/data_en/data_en/items_en.csv
/grpcs/services/ml-1m/ml-1m/users.dat
/grpcs/services/data_en/data_en/users_en.csv
model/*.csv
model/*.pkl
data/dataset.pkl
data/model.csv

/data/*
/data/**/*
